ul {
  list-style-type: none;
  float: left;
  margin: 0 5px 0 0;
  padding: 0;
}

#nonterminals > p, #terminals > p {
  margin-top: 0;
}

#currentSymbol {

}

#nest {

}

#nextSymbolList {

}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
